<%- include('../partials/header') %>

<h2>Single Group</h1>
    <p>Name: <%= currentGroup.name %></p>
    <p>Slug: <%= currentGroup.slug %></p>
    <p>ID: <%= currentGroup.id %></p>
    <blockquote><%= currentGroup.members %></blockquote>
<%- include('../partials/footer') %>