<%- include('../partials/header') %>

<h2>Single Script Settings</h1>
    <p>Name: <%= currentScript.name %></p>
    <p>Slug: <%= currentScript.slug %></p>
    <p>ID: <%= currentScript.id %></p>
    <blockquote><%= currentScript.content %></blockquote>

<%- include('../partials/footer') %>