<%- include('../partials/header') %>

<h2>Single Script</h1>
    <p>Name: <%= currentScript.name %></p>
    <p>ID: <%= currentScript.id %></p>
    <blockquote><%= currentScript.description %></blockquote>

<%- include('../partials/footer') %>